<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="ultranet">

        <title>{% block title %}Ultranet{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('jquery-ui-1.12.0/jquery-ui.min.css') }}" rel="stylesheet" />
            
            <!-- Jquery UI Core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />

            <!-- Custom CSS -->
            <link href=" {{ asset('css/modern-business.css') }}" rel="stylesheet">
            
            <!-- Revolution Slider CSS -->
            <link href=" {{ asset('revel/settings.css') }}" rel="stylesheet">
            
            <!-- Animate CSS -->
            <link href=" {{ asset('css/animate.css') }}" rel="stylesheet">

            <!-- Custom Fonts -->
            <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            
            
            <!-- Ultranet CSS -->
            <link href=" {{ asset('css/ultranet.css') }}" rel="stylesheet">
            
            <!-- Forum CSS -->
            <link href=" {{ asset('css/forum.css') }}" rel="stylesheet">
            
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}

        <link rel="icon" type="image/jpeg" href="{{ asset('images/logo.jpeg') }}" />
    </head>

    <body style="background:url(' {{asset('images/image_2.gif') }} ')">
    {% block body %}{% endblock %}

    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- Bootstrap Validator JavaScript -->
        <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>

        <!-- Jquery UI Core JavaScript -->
        <script src="{{ asset('jquery-ui-1.12.0/jquery-ui.min.js') }}"></script>

        <!-- Revolution Slider JS -->
        <script src="{{ asset('revel/jquery.themepunch.tools.min.js') }}"></script>
        <script src="{{ asset('revel/jquery.themepunch.revolution.min.js') }}"></script>
        <script src="{{ asset('revel/revolution.extension.layeranimation.min.js') }}"></script>
        <script src="{{ asset('revel/revolution.extension.navigation.min.js') }}"></script>
        <script src="{{ asset('revel/revolution.extension.slideanims.min.js') }}"></script>
        
        <!-- Own JavaScript -->
        <script src="{{ asset('js/ultranet.js') }}"></script>
        <script src="{{ asset('js/forum.js') }}"></script>
    {% endblock %}
    </body>
</html>
