{% trans_default_domain 'FOSUserBundle' %}

<div id="signupbox" style="margin-top:50px" class="mainbox">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Changer le mot de passe</div>
        </div>  
        <div class="panel-body" >

            {{ form_start(form, { 'action': path('fos_user_change_password'), 'method':'post', 'attr': { 'class': 'fos_user_change_password' } }) }}

            <div id="signupalert" style=" {% if form_errors(form) is empty and form_errors(form.plainPassword) is empty %} display:none {% else %} display:block {% endif %}" class="alert alert-danger animated fadeIn">
                <div> {{form_errors(form)}} </div> 
                <div>
                    {{form_errors(form.plainPassword)}}
                </div>  
            </div>
            <div class="form-group">
                <div class="col-md-5" style="margin-bottom:25px">
                    {{ form_label(form.current_password, 'form.current_password' | trans, {'label_attr': { class : 'control-label'}}) }}
                </div>
                <div class="col-md-5">
                    {{form_widget(form.current_password, {attr: {'class':'form-control', 'placeholder': 'form.current_password' | trans}})}}
                </div>
                <div class="col-md-9">
                    {{form_errors(form.current_password)}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5" style="margin-bottom:25px">
                    {{ form_label(form.plainPassword.first, 'form.new_password' | trans, {'label_attr': { class : 'control-label'}}) }}
                </div>
                <div class="col-md-5">
                    {{form_widget(form.plainPassword.first, {attr: {'class':'form-control', 'placeholder': 'form.new_password' | trans}})}}
                </div>
                <div class="col-md-9">
                    {{form_errors(form.plainPassword.first)}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5" style="margin-bottom:25px">
                    {{ form_label(form.plainPassword.second, 'form.new_password_confirmation' | trans, {'label_attr': { class : 'control-label'}}) }}
                </div>
                <div class="col-md-5">
                    {{form_widget(form.plainPassword.second, {attr: {'class':'form-control', 'placeholder': 'form.new_password_confirmation' | trans}})}}
                </div>
                <div class="col-md-9">
                    {{form_errors(form.plainPassword.second)}}
                </div>
            </div>

            {{form_rest(form)}}
            <div class="">
                <!-- Button -->                                        
                <div class="form-group col-md-12">
                    <button id="btn-signup" type="submit" class="btn btn-success"><i class="fa fa-hand-o-right"></i> &nbsp {{'change_password.submit' | trans }}</button>
                    {#<span style="margin-left:8px;">or</span> #} 
                </div>
            </div>
            {#<div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                <div class="col-md-offset-3 col-md-9">
                    <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                </div>                                           

            </div>#}
            {{ form_end(form) }}
        </div>
    </div>
</div> 
