{% extends 'UltranetCoreBundle::layout.html.twig' %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block body_content %}
    {% include 'UltranetCoreBundle:Includes:banner.html.twig' %}
    <div width="100%" id="content-body">
        <div class="container">
            <!-- Marketing Icons Section -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="page-header">
                        Nos formations
                        <small>populaires</small>
                    </h1>
                </div>
            </div>
            <div class="row formation">
                {% if formations is not empty %}
                    {% for formation in formations %}
                        <div class="col-md-4">
                            <div class="card">
                                {% if formation.image is not null %}
                                    <img class="card-img-top" src="{{ asset(formation.image.webPath) }}"
                                         alt="image formation">
                                {% else %}
                                    <img class="card-img-top"
                                         src="{{ asset('uploads/images/formations/formation_default.jpg') }}"
                                         alt="image formation">
                                {% endif %}
                                <div class="card-block">
                                    <h4 class="card-title">{{ formation.name | truncate(30) }}</h4>
                                    <p class="card-text">
                                        {{ formation.description | truncate(90) }}
                                    </p>
                                    <a href=" {{ path('ultranet_core_show_formationpage', {'slug' : formation.slug}) }} "
                                       class="btn btn-success">Lire plus ...</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="page-header">
                        Pourquoi choisir Ultranet ?
                    </h1>
                </div>
                <div class="col-md-4">
                    <div class="why">
                        <i class="fa fa-book fa-5x"></i>
                        <span class="why-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="why">
                        <i class="fa fa-umbrella fa-5x"></i>
                        <span class="why-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="why">
                        <i class="fa fa-flag fa-5x"></i>
                        <span class="why-desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
